<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Symbionix: You Dream, We Build</title>
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre.min.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="<%- apiUrl %>/styles/pay.css"
		/>
	</head>
	<body class="pay-background">
		<!-- We will put our React component inside this div. -->
		<div id="payment-form"></div>

		<script>
			window.redirectUrl = '<%- redirectUrl %>';
			window.apiPath = '<%- apiUrl %>';
			window.userId = '<%- userId %>';
		</script>

		<!-- Load React. -->

		<script
			src="https://unpkg.com/react@16/umd/react.production.min.js"
			crossorigin
		></script>
		<script
			src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"
			crossorigin
		></script>

		<!-- Load our React component. -->
		<script src="<%= reactPath %>"></script>

		<script src="https://<%= paymentUrl %>/v1/paymentWidgets.js?checkoutId=<%= checkoutId %>"></script>

		<!-- Style Payment Form -->
		<script>
			var wpwlOptions = {
				style: 'plain',
				paymentTarget: 'payment-modal',
				shopperResultTarget: 'payment-modal',
				autofocus: 'card.number',
			};
		</script>
	</body>
</html>
