<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Symbionix: You Dream, We Build</title>
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre.min.css"
		/>
		<link rel="stylesheet" type="text/css" href="./styles/pay.css" />
	</head>
	<body class="pay-background">
		<!-- We will put our React component inside this div. -->
		<h1>Result</h1>
		<div id="payment-form"></div>

		<script>
			// window.redirectUrl = '<%- redirectUrl %>';
		</script>

		<!-- Load React. -->

		<script
			src="https://unpkg.com/react@16/umd/react.production.min.js"
			crossorigin
		></script>
		<script
			src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"
			crossorigin
		></script>

		<!-- Load our React component. -->
		<!-- <script src="../components.prod/payment.js"></script> -->
	</body>
</html>
